
.box{
	width: 300px;
      background-color: lightblue;
      border: 15px solid blue;
      padding: 50px;
      margin: 20px;
      color: black;
      font-family: Arial, sans-serif;
      line-height: 1.5;
	/* border: 15px solid blue;
	background-color: lightblue;
	padding: 50px;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 300px;	 */
}
